html 
	head 
		title Comment Filter Application
		style.
			table, th, tr, td {
				border:1px solid black;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 15px;
			}
			body {
				margin: auto;
				vertical-align: center;
				background: #e6e6e6;
				text-align: center;
			}
			.button {
				background-color: lightgray;
				border: none;
				border-radius: 8px;
				color: black;
				text-align: center;
				margin: 4px;
			}
			.topnav {
				overflow: hidden;
				background-color: #333;
			}
			.topnav a {
				float: left;
				color: white;
				padding: 15px 15px;
				text-decoration: none;
				font-size: 17px;
			}
			.topnav a:hover {
				background-color: #ddd;
				color: black;
			}
			.topnav a.active {
				background-color: #3c7ae6;
				color: white;
			}
			ul, li {
				display: inline;
				padding: 5px 5px;
			}

		script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
		script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js', integrity='sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s', crossorigin='anonymous')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
		script.
			function profanityCheck() {
				//var profanity = !{profanity};
				let output = "false";
				//fetch("https://team1-cscis-394.herokuapp.com/home", {method: 'POST'})
				//.then(data => {return data.json()}).then(data => {output = data})
				fetch("http://yousite.com/endPoint")
					.then((resp) => resp.json()) // Transform the data into json
					.then(function(response) {
						if (response.prof) {
							console.log(prof);
							output = prof;
						}
						if (response.redirect_path) { //optional check to see if a redirect path exists
							console.log(redirect_path);
							location.href = redirect_path;
						}
					})
				if (output == "true"){
					alert("Profanity detected! Comment will not be displayed.");
				}
			}

	body
		.topnav
			a(class='active', href='home') Main Page 
			a(href='profile') My Posts
			a(href='logout' style="float:right") Logout
		br
		div.container
			p 
				form(action='/search' method='get')
					input(type="text" name="searchcriteria" placeholder="User Search...")
					input(type='submit' value='Search')
			br
			form(action='/home', method='post', name='user_comment', style='clear:left')
				table
					tbody 
						tr 
							td #{message}
							td 
								div.input
									textarea.form-control(name="comment_box", placeholder='Enter a Comment...')
							td 
								div.actions
									button(type='submit', onclick="profanityCheck()") Post Comment
									//input(type="submit", onclick="profanityCheck()", value="Post Comment")
			div.container
				h3 Comments
				table.table.table-striped.table-hover.table-bordered
					thead
						tr 
							th User
							th Comment
							th Post Date
							th Reply
					each comment in comments
						tr
							td(style='text-align:center') #{ comment.username }
							td(style='text-align:center') #{ comment.text }
							td(style='text-align:center') #{ moment(comment.post_date).format('MM-DD-YYYY hh:mm a') }
							td
								//button Reply
								a(href='/reply') 
									button Reply
				div.container
					-var n = 1;
					ul.pagination
						while n < page_count+1
							li.page-item
								a.page-link(href="?page="+n)=n++
	
