doctype html 
html 
head 
	title Comment Filter Application
	style.
		table, th, tr, td {
		border:1px solid black;
		}
		h2 { font-size: 20px; text-align:center; }		//added
body 
	a(href='/comment_form') Create new comment
	h1 Comments
	h2 Welcome Admin 
	table(style='width:50%') 
		thead 
			tr 
				th Comment Id
				th Date					//added 
				th Comment
				th Flagged?
				th Flag/Unflag				//added
				th Delete				//added
		tbody 
			each comment in comments 
				tr 
					td #{comment.comment_id}
					td #{moment(Date.now()).format('MM/DD/YYYY')}			//added, added moment in index.js
					td #{comment.text} 
					td #{comment.is_flagged}
					td
						a(href='/comments/#{comment.comment_id}/form') Flag/Unflag
					td
						//a(href='/comments/#{comment.comment_id}/delete') Delete
						a(href='/comments/#{comment.comment_id}/delete' onClick="return confirm('Are you sure you want to delete this comment?');") Delete			//added

