head 
	title Comment Filter Application
	script.
		function darkModeFunc() {
			if (document.cookie.split("=")[1] == "true") {
				document.cookie = "isDark=false"
			} else {
			document.cookie = "isDark=true";
			}
			var element = document.body;
			element.classList.toggle("dark-mode");
		}
		function colorCheck() {
			if (document.cookie.split("=")[1] == "true") {
				var element = document.body;
				element.classList.toggle("dark-mode");
			}
		}
	style.
		* {box-sizing: border-box;}
		table, th, tr, td {
			border:1px solid black;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 15px;
			text-align: center;
		}
		body {
			margin: auto;
			vertical-align: left;
			background: #e6e6e6;
			text-align: center;
		}
		.button {
			background-color: lightgray;
			border: none;
			border-radius: 8px;
			color: black;
			text-align: center;
			margin: 4px;
		}
		.topnav {
			overflow: hidden;
			background-color: #333;
			display: flex;
		}
		.topnav a {
			float: left;
			color: white;
			padding: 18px 15px;
			text-decoration: none;
			font-size: 17px;
			display: block;
		}
		.topnav a:hover {
			background-color: #ddd;
			color: black;
		}
		.topnav a.active {
			background-color: #3c7ae6;
			color: white;
		}
		ul, li {
			display: inline;
			padding: 5px 5px;
		}
		.topnav button {
			border: none;
			margin-left: 57.14px;
			margin-right: 57.14px;
			margin-top: 18.5px;
			height: 29px;
		}
		.dark-mode {
			background-color: #282727;
			color: white;
		}
		.dark-mode .table {
			color: white;
		}
		.dark-mode a.page-link {
			background-color: #353434;
			color: white;
		}
		.dark-mode .table-hover tbody tr:hover td {
			color: white;
		}
		.dark-mode textarea.form-control {
				background-color: #353434;
				color: white;
		}
		.dark-mode textarea.form-control::-webkit-input-placeholder {
			color: white;
		}

	script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
	script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js', integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN', crossorigin='anonymous')
	script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js', integrity='sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s', crossorigin='anonymous')
	link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
body(onload="colorCheck()")
	.topnav
		a.btn-primary(class='active', href='/home') Main Page 
		a(href='/profile') My Posts
		button.btn.btn-secondary.btn-sm(onclick="darkModeFunc()") Toggle Dark Mode
		a(href='/logout' style="float:right") Logout
	br
	div.container.col-md-6
		div.row
			h2 Reply
		div.row
			div.container
				div.widget-area.no-padding.blank
					div.status-upload
						form(action="/home/post_reply", method="post", name="reply_comment", style="clear:left")
							#{message}

								input(type="hidden" name="comment_id" value=id)

								textarea.form-control(name="reply_comment_box", placeholder='Enter a Comment...', rows = "1")

								button.btn.btn-primary.btn-sm(type="submit") Post Reply
						div.container.mx-auto
							h3 Replies
							table.table.table-striped.table-hover.table-boardered
								thead
									tr 
										th User
										th Reply
										th Post Date
								tbody
									each r in reply
										tr
											td(style='text-align:center') #{ r.username }
											td(style='text-align:center') #{ r.text }
											td(style='text-align:center') #{ moment(r.post_date).format('MM-DD-YYYY hh:mm a') }
							div.container
								-var n = 1;
								ul.pagination
									while n < page_count+1
										li.page-item
											a.page-link(href="?page="+n)=n++
		